/*-- scss:defaults --*/
$theme-color: #33cc99;
$unifrog-green: #33cc99;
$unifrog-white: #FFFFFF;
$unifrog-pink: #ec44f2;
$unifrog-brown: #b54f0d;
$unifrog-orange: #ff7901;
$unifrog-blue: #1561c8;
$unifrog-red: #a50036;
$unifrog-purple: #6815ad;
$unifrog-yellow: #c89801;
$unifrog-black: #000000;
$unifrog-grey: #cccccc;
$unifrog-darkgrey: #8c8c8c;
$unifrog-lightblue: #17a0ff;
 

$body-bg: $unifrog-white;
$body-color: $unifrog-black;
$link-color: $unifrog-blue;
$code-bg: $unifrog-grey;
$code-color: $unifrog-blue;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

$font-family-monospace: 'Fira Code';
$font-family-sans-serif: 'Open Sans', sans-serif;


/*-- scss:rules --*/
.orange {
    color: $unifrog-orange;
    font-weight: bold;
}

.quarto-title-banner {
    background: $unifrog-green;
}

.quarto-title-banner .code-tools-button {
    color: $unifrog-white;
}

.quarto-title-banner .code-tools-button:hover {
    color: $unifrog-orange;
}

.green {
    color: $unifrog-green;
    font-weight: bold;
}

.blue {
    color: $unifrog-blue;
    font-weight: bold;
}

.red {
    color: $unifrog-red;
    font-weight: bold;
}

.purple {
    color: $unifrog-purple;
    font-weight: bold;
}