/*-- scss:defaults --*/
$theme-color: #33cc99;
$unifrog-green: #33cc99;
$unifrog-white: #FFFFFF;
$unifrog-pink: #da669f;
$unifrog-brown: #9F8A42;
$unifrog-orange: #ff7901;
$unifrog-lime: #16dd36;
$unifrog-blue: #1561c8;
$unifrog-dark-red: #a50036;
$unifrog-purple: #6815ad;
$unifrog-yellow: #c89801;
$unifrog-black: #000000;
$unifrog-grey: #cccccc;
/*$unifrog-color: #31869b;
$unifrog-color: #f90505;
$unifrog-color: #be54d9;
$unifrog-color: #558465;
$unifrog-color: #0b434a;
$unifrog-color: #5959b6;
$unifrog-color: #2f75b5;
$unifrog-color: #346535;
$unifrog-color: #a03030;
$unifrog-color: #755b99;
$unifrog-color: #4bc7c8;
$unifrog-color: #ff0280;
$unifrog-color: #007efa;
$unifrog-color: #b65959;
$unifrog-color: #d95459;
$unifrog-color: #837aa3;
$unifrog-color: #c65911;
$unifrog-color: #ec44f2;
$unifrog-color: #17a0ff;
$unifrog-color: #00b0f0;
$unifrog-color: #9b59b6;
$unifrog-color: #a83181;
$unifrog-color: #b54f0d;
$unifrog-color: #7030a0;
$unifrog-color: #81d8d0;
$unifrog-color: #f76b37;
$unifrog-color: #0052A5;
$unifrog-color: #305496;
$unifrog-color: #c6590f;
*/

$body-bg: $unifrog-white;
$body-color: $unifrog-black;
$link-color: $unifrog-blue;
$code-bg: $unifrog-grey;
$code-color: $unifrog-blue;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

$font-family-monospace: 'Fira Code';
$font-family-sans-serif: 'Open Sans', sans-serif;


/*-- scss:rules --*/
.orange {
    color: $unifrog-orange;
    font-weight: bold;
}

.quarto-title-banner {
    background: $unifrog-green;
}

.quarto-title-banner .code-tools-button {
    color: $unifrog-white;
}

.quarto-title-banner .code-tools-button:hover {
    color: $unifrog-orange;
}

.green {
    color: $unifrog-green;
    font-weight: bold;
}

.blue {
    color: $unifrog-blue;
    font-weight: bold;
}

.red {
    color: $unifrog-dark-red;
    font-weight: bold;
}

.purple {
    color: $unifrog-purple;
    font-weight: bold;
}